@{
    Layout="_LayoutLogin";
    @*ViewData["Title"] = "Home Page";*@
}

<div class="text-center">

    <div class="wrapper fadeInDown">
        <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
            <div class="fadeIn first">          
                <img src="@Url.Content("~/img/logo.svg")" id="icon" alt="logo" />
            </div>

        <!-- Login Form -->
            <form action="/login/logar" method="post">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Digite seu login">
                <input type="password" id="senha" class="fadeIn third" name="senha" placeholder="Informe sua senha">

                @if(!string.IsNullOrEmpty(ViewBag.erro))
                {
                    <div class="alert alert-danger" style="margin: 5px" role="alert">
                        @ViewBag.erro
                    </div>
                }
                <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>

        <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</div>
