@model SistemaCadastroEleitoral.Models.Admin.AdminModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a), @ViewBag.AdminName!</h1>
    
</div>
